<p>Hesap ayarları</p>
<%= form_for @user, :as => :user, :url => account_settings_path, :method => :put do |f| %>
    <p>
      <%= f.label 'Şu anki şifre:' %><br/>
      <%= f.password_field :password %>
      <%= show_field_error(@user, :password) %>
    </p>
    <p>
      <%= f.label 'Kullanıc adı: (Kullanıcı adınızı değiştirmeyecekseniz burayı değiştirmeyin)' %><br/>
      <%= f.text_field :username %>
      <%= show_field_error(@user, :username) %>
    </p>
    <p>
      <%= f.label 'E-mail: (E-mailinizi değiştirmeyecekseniz burayı değiştirmeyin)' %><br/>
      <%= f.text_field :email %>
      <%= show_field_error(@user, :email) %>
    </p>
    <p>
      <%= f.label 'Yeni şifre: (Şifrenizi değiştirmeyecekseniz boş bırakınız)' %><br/>
      <%= f.password_field :new_password %>
      <%= show_field_error(@user, :new_password) %>
    </p>
    <p>
      <%= f.label 'Şifre doğrulama:' %><br/>
      <%= f.password_field :new_password_confirmation %>
      <%= show_field_error(@user, :new_password_confirmation) %>
    </p>
    <p>
      <%= f.submit 'Güncelle' %>
    </p>
    <%= link_to 'Anasayfa', :root %><br>
<% end %>
