<h1>Giriş yapabilmek için aşağıdaki formları doldurunuz</h1>
<p>Giriş yap</p>
<%= form_for @user, :as => :user, :url => sign_in_path(@user) do |f| %>
    <p>
      <%= f.label 'Kullanıcı adı ya da e-mail:' %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label 'Şifre:' %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit 'Giriş yap' %>&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Formu temizle', :type => 'reset' %>
    </p>
    <%= link_to 'Anasayfa', :root %><br>
<% end %>