<!DOCTYPE html>
<html>
<head>
  <title>BasicAuth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


  <% if current_user %>
      <br>
    <div margin-left="20px"><%= current_user.username %> olarak giriş yaptınız. </div>
    <div>
      <%= link_to "Çıkış Yap", signed_out_path %>
      <%= link_to "Hesap Ayarları", account_settings_path %>
  <% else %>
      <%= link_to "Üye Ol", new_user_path %> or
      <%= link_to "GirisYap", sign_in_path %>
    </div>
  <% end %>


<%= yield %>

</body>
</html>
