<!DOCTYPE html>
<html>
<head>
  <title>BasicAuth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<p>
  <% if current_user %>
      <%= current_user.username %> olarak giriş yaptınız.
      <%= link_to "Çıkış Yap", signed_out_path %>
      <%= link_to "Hesap Ayarları", account_settings_path %>
  <% else %>
      <%= link_to "Üye Ol", new_user_path %> or
      <%= link_to "Giriş Yap", sign_in_path %>
  <% end %>
</p>


<%= yield %>

</body>
</html>
